<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>

		<!-- Debug-Mode for calibration and other information of the game-->
		<add key="debug_" value="true"/>
		
		<!-- static Adresses from the memory Examinia Locations 
		             !DONT CHANGE THEM!
		-->
		
		<add key="OFFSET_X_Ptr" value="0x2A7FF4"/>
		<add key="OFFSET_Y_Ptr" value="0x2A7FFC"/>
		<add key="OFFSET_LVL_Ptr" value="0x2137C8"/>
		
		<!-- Maps that are used. Use the right ID otherwise it wont work [...] TO-DO 
		   example:
		   key="mapID_XXX_location" where XXX is the ID from the map in the game that you want to add.
		   the value should be the name/path of the map-image you are adding.
		-->

		<add key="mapID_2_location" value="/Maps/[ID2]Map_LVL1.png"/>
		<add key="mapID_3_location" value="/Maps/[ID3]Map_LVL2.png"/>
		<add key="mapID_4_location" value="/Maps/[ID4]Map_LVL3.png"/>
		<add key="mapID_5_location" value="/Maps/[ID5]Map_Catacombs.png"/>
		<add key="mapID_6_location" value="/Maps/[ID6]Map_Archive.png"/>
		<add key="mapID_7_location" value="/Maps/[ID7]Map_Crossroads.png"/>
		<add key="mapID_8_location" value="/Maps/[ID8]Map_Golems.png"/>
		<add key="mapID_9_location" value="/Maps/[ID9]Map_CrossroadsSewers.png"/>
		<add key="mapID_10_location" value="/Maps/[ID10]Map_Market.png"/>
		<add key="mapID_11_location" value="/Maps/[ID11]Map_MarketSewer.png"/>

		<!--  ALL OFFSETS AND SPEEDS FOR THE LEVELS
		
		 * Map LVL starts with value:2[as byte] on first floor 
                   
 mapID_XX=   2      3       4        5          6         7          8           9            10         11
           LVL 1  LVL 2   LVL 3   Catacombs   Archive  Crossroads  Golems Crossroads Sewer  Market  Market Sewer
        -->	
		
		<add key="mapID_2_offsetX" value="11350"/>
		<add key="mapID_2_offsetY" value="10900"/>
		<add key="mapID_2_scaleXY" value="0.05"/>

		<add key="mapID_3_offsetX" value="11350"/>
		<add key="mapID_3_offsetY" value="10900"/>
		<add key="mapID_3_scaleXY" value="0.05"/>

		<add key="mapID_4_offsetX" value="11350"/>
		<add key="mapID_4_offsetY" value="10900"/>
		<add key="mapID_4_scaleXY" value="0.05"/>

		<add key="mapID_5_offsetX" value="12200"/>
		<add key="mapID_5_offsetY" value="8800"/>
		<add key="mapID_5_scaleXY" value="0.066"/>

		<add key="mapID_6_offsetX" value="13550"/>
		<add key="mapID_6_offsetY" value="11300"/>
		<add key="mapID_6_scaleXY" value="0.0455"/>

		<add key="mapID_7_offsetX" value="19904"/>
		<add key="mapID_7_offsetY" value="13319"/>
		<add key="mapID_7_scaleXY" value="0.04"/>

		<add key="mapID_8_offsetX" value="17000"/>
		<add key="mapID_8_offsetY" value="15700"/>
		<add key="mapID_8_scaleXY" value="0.037"/>

		<add key="mapID_9_offsetX" value="15247"/>
		<add key="mapID_9_offsetY" value="13564"/>
		<add key="mapID_9_scaleXY" value="0.038"/>

		<add key="mapID_10_offsetX" value="16000"/>
		<add key="mapID_10_offsetY" value="17200"/>
		<add key="mapID_10_scaleXY" value="0.036"/>

		<add key="mapID_11_offsetX" value="0"/>
		<add key="mapID_11_offsetY" value="0"/>
		<add key="mapID_11_scaleXY" value="0"/>

 
              
		
	</appSettings>
</configuration>